element style{
	z-index: 1000;
	position: relative;
}
header{background-color:rgb(0,116, 33, 0.652);
	padding: 14px 14px;
	border-style: solid;
    border-right: none;
    border-left: none;
    border-color: white;
    border-top: none;
	font: 32px cursive;
}
table {background-color: lightgrey;}

h2{color:#333946;
text-align: center;
}
h3{color:#6b6b6b ;}

h4{color:#6b6b6b ;}

body {background-color:white;}

h1{text-align:left;}

.head {
	color: white;
   }