
/*start login*/

/*styling text email and password*/
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    display: inline-block;
    border: 0.5px solid black;
    box-sizing: border-box;
}


/*styling all buttons*/
.button{
    background-color: #f3f6f4 ;
    color: black;
    margin: 5px 0;
    border: 2px solid #84D561;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
/*making botton hover with colour*/
.button:hover{
    background-color: #84D561;
    color: #f3f6f4 ; 
}
/*align text to center*/
.title1{
    text-align: center;
    padding: 10px;

}
.P41{
    background-color: #f3f6f4;
    width: 60%;
    border: 30px #84D561;
    margin: auto;
}

.P42{
    padding: 10px;
}

/*align image*/
.image1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/*end login*/



