*{
    box-sizing: border-box;
    margin: 0;
}

.meatsection{
    padding-top: 14px;
    background-color: rgba(228, 228, 228, 0.342);
}

.meatwelcmess table{
    margin-left: auto;
    margin-right: auto;

    width: 60%;

    border-radius: 4px;

    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;

    color: white;
    font-size: 24px;
    font-family: cursive;
    font-weight: 800;

    background-image: url(/Images/nicerawmeat.jpeg);
    background-size: cover;
    background-position: 450;
}

.diffmeats{
    margin-top: 20px;
}
.meatsectiontable{
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 60%;

    border-radius: 4px;
    border-collapse: collapse;
    background-color: white;
}
.diffmeats td{
    border: 1px solid black;
    width: 30%;
    border-top: none;
}
.diffmeats a{
    text-decoration: none;
}
.meatimages td{
    border-bottom: none;
}
.meatitems td:hover{
    background: rgba(72, 72, 72, 0.644);
    transition: all ease-in-out 140ms;
}
.meatimages img{
    display: block;
    width: 100%;
    text-align: center;
}
.meatitems{
    background-color: rgb(31,31,31);
}
.meatitems td{
    padding: 8px 0px;
    text-align: center;
}
.meatitems a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-style: italic;
}
.diffmeatprices{
    color: black;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;

    text-align: center;
}
.diffmeatprices td{
    padding: 0px 0px 5px 0px;
}
.viewmorebutton{
    display: flex;

    cursor: pointer;

    background-color: rgb(31,31,31);
    border-radius: 20px;
    border: none;
    border-width: 1.5px;

    color: white;

    width: 50%;
    min-width: 80px;
    padding: 8px 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 10px;
}
.viewmorebutton:hover{
    background-color: rgba(40, 40, 40, 0.788);
    transition: all ease-in-out 140ms;
}
@media screen and (max-width: 1100px){
    .meatwelcmess table{
        width: 80%;
    }
    .meatsectiontable{
        width: 80%;
    }
}