*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.navbar{
    padding-left: 2.5%;
    padding-right: 5%;
    border-color: white;
    border-style: none none solid;
    border-right: none;
    border-left: none;
    border-top: none;

    background-color: rgb(31, 31, 31);
}
.navbar ul{
    list-style-type: none;
    text-align: center;
}
.menbar{
    display: inline-block;
    padding: 14px 3%;
    width: max-content;

    border-radius: 4px;
}
.navbar ul li a{
    font-weight: 550;
    text-decoration: none;
    color: white;
}
.navbar ul li:hover{
    background-color: rgba(187, 187, 187, 0.308);

    transition: all ease-in-out 140ms;
}

.navbar ul li ul{
    display: none;
    position: absolute;
    margin-top: 14px;
    margin-left: -2.75%;
    border-radius: 0px 0px 6px 6px;

    background-color: rgb(15, 15, 15);
}
.dropdown{
    display: list-item;
    padding: 8px 16.9px;
    text-align: left;
    border-radius: 6px;

    margin-left: -30%;
}
.navbar ul li ul li a{
    font-size: 12px;
    color: white;
}
.navbar ul li:hover ul{
    display: block;
}