*{
    margin: 0;
}

.aislesimgwelcmess{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 20px;
    font-style: italic;
    font-weight: 600;

    color: white;
    background-color: rgba(228, 228, 228, 0.342);

    background-image: url(/Images/groceryaisles.jpeg);
    background-size: cover;
    background-position: center;
}

.aisleswelcmess{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    border: 1px solid black;

    padding: 5px 0px;

    background-color: rgb(31, 31, 31);
    color: white;
}
.aisleswelcmess p{
    padding-left: 20%;
    font-size: large;
    font-weight: 600;
    font-style: italic;
}

.diffaisles{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 60%;

    margin-top: 20px;
}

.meattable{
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    border-spacing: 0;
    background-color: rgb(31,31,31);
}
.meattable td{
    text-align: center;
    padding: 0;
}
.meattable img{
    width: 100%;
    height: 200px;
    border-radius: 1px;
    opacity: 1;
    object-fit: cover;
}
.meattable a{
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: 500;
}
.aisletype td{
    padding: 10px 0px;
}
.aisletype td:hover{
    background-color: rgba(52, 51, 51, 0.884);
    transition: all ease-in-out 140ms;
}
.aisleimg td img:hover{
    opacity: 0.8;
    transition: all ease-in-out 140ms;
}
.instructions{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.521);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px 20px 4px 4px;
    font-style: italic;
}

@media screen and (max-width: 800px){
    .diffaisles{
        display: block;
    }
}
@media screen and (max-width: 600px)
{
    .aisleswelcmess p{
        padding-left: 10.2%;
    }
    .instructions{
        width: 80%;
    }
    .diffaisles{
        width: 80%;
    }
}