

/*NAVBAR STARTS*/
*{
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.navbar{
    margin-right: auto;
    margin-left: auto;
    border-color: white;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;

    background-color: rgb(31, 31, 31);
}
.navbar ul{
    list-style-type: none;
    text-align: center;
}
.menbar{
    display: inline-block;
    padding: 14px 3%;
    width: max-content;

    border-radius: 4px;
}
.navbar ul li a{
    font-weight: 550;
    text-decoration: none;
    color: rgb(215, 215, 215);
}
.navbar ul li:hover a{
    color: white;

    transition: all ease-in-out 140ms;
}

.navbar ul li ul{
    display: none;
    position: absolute;
    margin-top: 14px;
    margin-left: -1%;
    border-radius: 0px 0px 6px 6px;

    background-color: rgb(15, 15, 15);
}
.dropdown{
    display: list-item;
    padding: 8px 15.5px;
    text-align: right;
    border-radius: 6px;

    margin-left: -31.5%;
}
.dropdown a{
    color: rgb(213, 213, 213);
}
.navbar ul li ul li a{
    font-size: 13px;
    color: rgb(213, 213, 213);
}
.navbar ul li:hover ul{
    display: block;
}
.navbar ul li ul li:hover a{
    color: rgb(215, 215, 215);

    transition: all ease-in-out 140ms;
}

/*NAVBAR END*/

/*START HEADER*/ 
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
.headerbar{
    background-color: rgba(0, 116, 33, 0.652);
    padding-top: 40px;
    padding-bottom: 30px;

    border-style: solid;
    border-right: none;
    border-left: none;
    border-color: white;
    border-top: none;
}
.logo{
    margin-top: -40.5px;
    margin-left: 2.5%;
        
    width: auto;

    font-size: 32px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;

    display: block;
    float: left;
    position: relative;
}
.logo a{
    text-decoration: none;
    color: white;
}
.search{
    color: white;

    display: block;
    text-align: center;
}
.search input[type=text]{
    border-style: solid;
    border-color: white;
    border: 0.5px 0.5px 0.5px 0.5px;
    border-radius: 8px;

    background-color: rgb(255, 255, 255);
    width: 30%;
    min-width: 140px;
    position: relative;
    padding: 6px 10px;
    color: rgb(0, 0, 0);
}

.cartup{
    background-color: white;

    border: none;
    border-radius: 11px;

    width: 40px;
    height: 32px;

    float: right;

    margin-top: -32px;
    margin-right: 2%;
}
.cartup img{
    display: block;
    width: 28px;
    height: 28px;

    margin-left: 2px;
}


/*CART STYLE START*/
.nopadding{
    margin: 0;
    padding:0;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: white;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
}

.container > h1{
	padding: 20px 0;
}

.cart{
	display: flex;
}

.products{
	flex: 0.75;
}

.product{
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid grey;
	margin-bottom: 30px;
}

.product > img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.product > img:hover{
	transform: scale(1.04);
}


.product-info{
	padding: 10px;
	width: 100%;
	position: relative;
}

.product-name, .product-price, .product-offer{
	margin-bottom: auto;
}

.product-delete{
	position: absolute;
	bottom: 80px;
	right: 20px;
	padding: 10px 25px;
	background-color: #e45555;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.product-delete:hover{
	background-color: white;
	color: #e45555;
	font-weight: 600;
	border: 1px solid #e45555;
}

.product-quantity >input{
	width: 40px;
	padding: 5px;
	text-align: center;
}
.button{
    width: 40px;
	padding: 5px;
	text-align: center;
    flex-wrap: wrap;
}
.fa{
	margin-right: 5px;
}

.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 525px;
	border: 1px solid grey;
	border-radius: 5px;
}

.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}

.cart-total a{
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: #84D561;
	color: white;
	text-decoration: none;
     border-radius: 5px;
}

.cart-total a:hover{
	background-color: white;
	color: #84D561;
	font-weight: 600;
	border: 1px solid #84D561;
}

@media screen and (max-width: 700px){
	.remove{
		display: none;
	}

	.product{
		height: 150px;
	}

	.product > img{
		height: 150px;
		width: 200px;
	}

	.product-name, .product-price, .product-offer{
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 900px){
	.cart{
		flex-direction: column;
	}

	.cart-total{
		margin-left: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1220px){
	.container{
		max-width: 95%;
	}

}
/*END CART*/