*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
.headerbar{
    background-color: rgba(0, 116, 33, 0.652);
    padding-top: 40px;
    padding-bottom: 30px;

    border-style: solid;
    border-right: none;
    border-left: none;
    border-color: white;
    border-top: none;
}
.logo{
    margin-top: -40.5px;
    margin-left: 2.5%;
        
    width: auto;

    font-size: 32px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;

    display: block;
    float: left;
    position: relative;
}
.logo a{
    text-decoration: none;
    color: white;
}
.search{
    color: white;

    display: block;
    text-align: center;
}
.search input[type=text]{
    border-style: solid;
    border-color: white;
    border: 0.5px 0.5px 0.5px 0.5px;
    border-radius: 8px;

    background-color: rgb(255, 255, 255);
    width: 30%;
    min-width: 140px;
    position: relative;
    padding: 6px 10px;
    color: rgb(0, 0, 0);
}

.cart{
    background-color: white;

    border: none;
    border-radius: 11px;

    width: 40px;
    height: 32px;

    float: right;

    margin-top: -32px;
    margin-right: 2%;
}
.cart img{
    display: block;
    width: 28px;
    height: 28px;

    margin-left: 2px;
}