*{
    margin: 0;
}
.ribeyesteakproductdescpage table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-radius: 4px;

    width: 60%;
    min-height: 324px;
    border: none;

    border-collapse: collapse;
    table-layout: fixed;
}
.ribeyesteakproductdescpage td{
    width: 50%;
    background-color: white;
}
.ribeyepageimage img{
    display: block;
    text-align: center;
    width: 100%;
}
.notimage{
    text-align: left;
    padding-left: 20px;
}
.moredescbutton{
    padding: 5px;
    width: 40%;
    min-width: fit-content;
    cursor: pointer;
    display: flex;
    text-align: left;

    background-color: rgb(31,31,31);
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 10px;
}
.moredescbutton:hover{
    opacity: 0.8;
    transition: all ease-in-out 140ms;
}
.moredesccontent{
    margin-top: 4px;

    font-size: 13px;
    font-style: italic;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    text-align: justify; 
    position: relative;
}
.moreText{
    display: none;
}
.moredesctext.show-more .moreText{
    display: block;
}

.quantitybutton{
    width: 77px;
    min-width: fit-content;

    display: flex;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;

    padding: 2.5px 2px;
    font-size: 14px;

    cursor: pointer;
}
.quantitybutton span{
    width: 100%;
    text-align: center;

    padding: 0px;

    cursor: pointer;
}
.addtocartbuttonribdesc{
    display: block;

    cursor: pointer;

    background-color: rgba(0, 116, 33, 0.652);
    border-radius: 4px;
    border: none;
    outline: none;

    width: 83px;
    min-width: fit-content;
    padding: 8px 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 10px;
}
.addtocartbuttonribdesc:hover{
    background-color: rgba(0, 116, 33, 0.852);
    transition: all ease-in-out 140ms;
}
.sizebutton{
    margin-bottom: 10px;
    width: 40%;
    min-width: 90px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    font-size: 8px;

    padding: 3px 0px;
}
.minus:hover{
    opacity: 0.8;
}
.plus:hover{
    opacity: 0.8;
}
@media screen and (max-width: 1100px) {
    .ribeyesteakproductdescpage table{
        width: 80%;
    }
}